/* in Style.css */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw; 
    height: 100vh;
    overflow-y: hidden;
  }
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 20px;
  }
  h4{
    font-weight: 700px;
  }
  p{
    font-size: 10pt;
    color: gray;
  }
#image{
    width: 100%;
    height: 100%;
    
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-repeat: no-repeat;
}
.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box{
    font-family: 'Montserrat', sans-serif;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;

}
.form-label{
    display: flex;
    flex-direction: column;
    
}
label{
    padding: 10px 0 10px;
}
input{
    box-sizing: border-box;
    padding: 5px;
}
.forget-pass label{
    font-size: 10pt;
    color: rgb(0, 0, 0);
}
.forget-pass a{
    margin-left: 50px;
    font-size: 10pt;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #4a4ac7;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background-color: #3737a8;
}
@media screen and (max-width : 900px) {
    #image{
        display: none;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 100%;
    }
    .login-container{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-box{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }
}